{% extends "base.html" %}

{% block title %}Blocos{% endblock %}

{% block content %}
<h3 class="mb-3">
    <i class="bi bi-building"></i> Blocos
</h3>

<!-- CAMPO DE BUSCA -->
<form method="get" class="mb-3">
    <input 
        type="text" 
        class="form-control"
        name="q"
        placeholder="Buscar bloco..."
        value="{{ termo }}"
    >
</form>

<a href="{% url 'novo_bloco' %}" class="btn btn-primary mb-3 w-100">
    <i class="bi bi-plus-circle"></i> Novo Bloco
</a>

<div class="list-group">
    {% for b in blocos %}
        <div class="list-group-item">
            <h5 class="mb-0">{{ b.nome }}</h5>
        </div>
    {% empty %}
        <p class="text-muted">Nenhum bloco encontrado.</p>
    {% endfor %}
</div>
{% include "partials/paginacao.html" %}

{% endblock %}
