{% extends "base.html" %}

{% block title %}Novo Morador{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">

    <h3 class="mb-3">
        <i class="bi bi-person-plus"></i> Novo Morador
    </h3>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erros no formulário:</strong>
        {{ form.errors }}
    </div>
    {% endif %}


    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>

        <div class="mb-3">
            {{ form.bloco.label_tag }}
            {{ form.bloco }}
        </div>

        <div class="mb-3">
            {{ form.apartamento.label_tag }}
            {{ form.apartamento }}
        </div>

        {{ form.apartamentos }}  <!-- Campo hidden -->

        <button class="btn btn-success w-100">
            <i class="bi bi-check-circle"></i> Salvar
        </button>
    </form>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const blocoSelect = document.getElementById("bloco-select");
    const aptSelect = document.getElementById("apartamento-select");
    const hiddenApts = document.getElementById("id_apartamentos");

    blocoSelect.addEventListener("change", function () {
        const blocoId = this.value;
        aptSelect.innerHTML = "<option>Carregando...</option>";
        hiddenApts.innerHTML = "";

        if (!blocoId) return;

        fetch(`/ajax/bloco/${blocoId}/apartamentos/`)
            .then(res => res.json())
            .then(data => {
                aptSelect.innerHTML = '<option value="">Selecione...</option>';

                data.forEach(apt => {
                    aptSelect.innerHTML += `<option value="${apt.id}">${apt.numero}</option>`;
                });
            });
    });

    aptSelect.addEventListener("change", function () {
        hiddenApts.innerHTML = "";

        if (this.value) {
            const opt = document.createElement("option");
            opt.value = this.value;
            opt.selected = true;
            hiddenApts.appendChild(opt);
        }
    });
});
</script>

{% endblock %}
